/*
Estos son breakpoint personalizados
 */


@media (min-width: 0){
	body{
		background-color: black;
		color: black;
	

	}
	[class *="col-"]{
		width: 100%;	
	}

	img{
		width: 100%;
		height: auto;
		min-width: 228px;	

	}

	img.logoapp{
		width: 5%;
		height: auto;
		min-width: 100px;
	}

	img.btn1{
		width: 50px;
		height: auto;
		min-width: 50px;

		
		
	}

	img.btn2{
		width: 35px;
		height: auto;
		min-width: 35px;
	}

	

	img.btncal{
		width: 100px;
		height: auto;
		min-width: 100px;
		float: right;
		margin-right: 10%;
		
	}
	img.btncamara{
		width: 100px;
		height: 100px;
		min-width: 50px;
		margin-left: 10%;
		margin-top: 25%;
		
	}

	img.btnestambre{
		width: 100px;
		height: auto;
		min-width: 50px;
		
		
	}
	span.logoapp1{
		font-size: 20px;
		font-style: bold;
		padding-left: 10px;
	}

	img.piepagina{
		width: 100px;
		height: auto;
		min-width: 50px;
		float: right;
	}
	img.piepagina2{
		width: 100px;
		height: auto;
		min-width: 50px;
		float: left;
	}
	.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    padding-left: 20%;

  }




#barra{
	display: none;
}
#menu{
	font-size: 20px;
	background-color: white;
	width: 100%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

#menu .bt-menu{
	display: block;
	padding: 10px;
	text-decoration: none;
	color:green;
	font-weight: bold;
}

#menu span{
	float:right;
}

@media (min-width: 360px){
	body{
		background-color: black;
	}
	span.logoapp1{
		font-size: 20px;
		font-style: bold;
		padding-left: 10px;
	}
	.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    padding-left: 18%;

  }
  img.btncamara{
		width: 100px;
		height: 100px;
		min-width: 50px;
		margin-left: 10%;
		margin-top: 25%;
		
	}




@media (min-width: 584px){
	
	#menu{
		display: none;
	}
	span.logoapp1{
		font-size: 40px;
		font-style: bold;
		padding-left: 10px;
	}
	.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    padding-left: 40%;

  }
  img.btncal{
		width: 200px;
		
		
	}
	img.btncamara{
		width: 200px;
		height: 200px;
		
		
	}

}

@media (min-width: 768px){


	body{
		background-color: black;
		color: black;
	}
	span.logoapp1{
		font-size: 40px;
		font-style: bold;
		padding-left: 10px;
	}

	.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    padding-left: 40%;

  }
  img.btncal{
		width: 200px;
		
		
	}

	img.btncamara{
		width: 200px;
		height: 200px;
		
		
	}
		.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  margin-right: 0px;
  margin-left: 0px;
}

.nav1 > li {
  
margin-top: 10px;
}


	
	.col-1{width: 8.333%;}

	.col-2{width: 16.666%;}

	.col-3{width:24.999%;}

	.col-4{width: 33.332%;}

	.col-5{width:41.665%;}

	.col-6{width: 49.998%;}

	.col-7{width:58.331%;}

	.col-8{width: 66.664%;}

	.col-9{width: 74.99%;}

	.col-10{width: 83.33%;}

	.col-11{width: 91.66%;}

	.col-12{width: 99.99%;}
}

@media (min-width: 972px){

			.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  margin-right: 0px;
  margin-left: 30px;
}

.nav1 > li {
  
margin-top: 10px;
}

}

@media (min-width: 1000px){
			.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 0px;
  margin-right: 0px;
  margin-left: 45px;
}

.nav1 > li {
  
margin-top: 10px;
}
}

@media (min-width: 1280px){
	body{
		background-color: black;
		color: black;
	}

	img.btncal{
		width: 200px;
		
		
	}
	img.btncamara{
		width: 200px;
		height: 200px;
		
		
	}
	.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  margin-right: 10px;
  margin-left: 80px;
}

nav,
  .nav {

  
}
.nav1 > li {
  
margin-top: 10px;
}
.nav > li > a {
 

}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}




  
}